* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  background-image: url(/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  margin: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20vw;
  color: blanchedalmond;
}

.display {
    width: 100%;
}

.operation,
.result {
  height: 8vh;
  padding: 10px;
  font-size: 30px;
  background-color: brown;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  opacity: .8;
}

.digits, .operators, .functions {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    margin-bottom: 5px;
}

.digits {
    grid-template-rows: repeat(4, 1fr);
}

button {
  background-color: rgb(238, 238, 172);
  border-radius: 10px;
  align-self: stretch;
  height: 5vw;
  font-size: 20px;
  opacity: .8;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: rgb(94, 196, 162);
}

.operator {
  background-color: rgb(235, 167, 108);
}
